.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.logo{
    position: fixed;
    left: 20px;
    width: 80px;
    
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}

.home{
    position: fixed;
    left: 120px;
    color: white;
}
.tvshow{
    position: fixed;
    left: 180px;
    color: white;
}
.movie{
    position: fixed;
    left: 270px;
    color: white;
}

.newpopuler{
    position: fixed;
    left: 340px;
    color: white;
}
.mylist{
    position: fixed;
    left: 470px;
    color: white;
}
.browsebylang{
    position: fixed;
    left: 550px;
    color: white;
}
